@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@import "theme";

.mantine-AppShell-main,
body {
  background-color: var(--theme-body);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// Surface
.mantine-Drawer-header {
  background-color: var(--theme-primary);
  margin-bottom: 20px;
}
.mantine-Drawer-title {
  color: var(--theme-light);
}
.mantine-Drawer-content {
  background-color: var(--theme-surface);
}

.theme-switcher-icon {
  color: var(--theme-light);
}

.app-common-header {
  background-color: var(--theme-primary);

  &__logo {
    color: var(--theme-light);
  }

  .spotlight {
    background-color: var(--theme-primary-variant);
    &__search-icon {
      color: var(--theme-light);
    }
    &__command-label {
      background-color: var(--theme-primary);
      color: var(--theme-light);
    }
  }
}

.tenant-dropdown {
  background-color: var(--theme-primary-variant);

  &__name,
  &__switch-icon,
  &__setting-icon {
    color: var(--theme-light);
  }
}

.app-sidebar {
  background-color: var(--theme-primary);
  margin-top: -1px;

  .app-module-title {
    color: white;
    font-size: 16px;
  }

  .app-navbar-item {
    color: var(--theme-light);

    &[data-active],
    &:hover {
      background-color: var(--theme-primary-variant) !important;
      @apply transition-colors duration-300;
    }
  }
}
