@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

// @layer base {

// }

:root {
  --neutral-primary: #1f2937;
  --neutral-secondary: #4b5563;
  --neutral-muted: #9ca3af;

  --base: #fff;
}

html[data-color-scheme="dark"] {
  --base: #18181b;
  --neutral-primary: #d1d5db;
  --neutral-secondary: #d1d5db;
  --neutral-muted: #9ca3af;
}
